@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

body {
  font-family: 'pixelify sans', sans-serif;
  background-color: #000;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
  color: #23ff74;
  font-size: 60px;
}

h1 {
  font-size: 90px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.copied {
  visibility: hidden;
  color: #FFEB3B;
  font-size: 30px;
}

input {
  color: #FFEB3B;
  background-color: transparent;
  border: 1px solid #23ff74;
  border-radius: 5px;
  width: 400px;
  height: 60px;
  font-size: 30px;
  position: relative;
  margin: auto;
  padding: 0 10px;
  transition: .5s;
  font-family: 'fira mono', monospace;
}

input:focus {
  outline: none;
  border: 1px solid #16A34A;
}

input::placeholder {
  font-size: 30px;
  font-family: 'pixelify sans', sans-serif;
  /* padding: 0 10px; */
}

i#copy {
  color: #000;
  background-color: #23ff74;
  padding: 10px;
  /* border-radius: 50%; */
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  cursor: pointer;
  transition: .5s;
}

i#copy:hover {
  background: #16A34A;
}

i#copy:active {
  background: #23ff74;
}

.btn {
  color: #23ff74;
  background-color: transparent;
  border: 1px solid #23ff74;
  width: 400px;
  height: 60px;
  font-size: 30px;
  position: relative;
  margin-top: 20px;
  padding: 0 10px;
  transition: .5s;
  cursor: pointer;
}

.btn:hover {
  background-color: #23ff74;
  color: #000;
  border: none;

}

.btn:active {
  background-color: #16A34A !important;
  color: #000 !important;
}

